name: "Generate Client Storage"
on:
  push:
    branches:
      - main
    paths:
      - tgui/public/*

jobs:
  dispatch_repo:
    if: ( !contains(github.event.head_commit.message, '[ci skip]') )
    name: Repository Dispatch
    runs-on: ubuntu-latest
    steps:
      - name: Send Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.SKYYNET_PAT || secrets.GITHUB_TOKEN }}
          repository: effigy-se/byond-client-storage
          event-type: on_master_push
